	.thumbnail {
		margin-top: 20px;
		border: none;
	}
	
	.introduction .thumbnail img {
		width: 50%;
	}
	
	.introduction .last {
		color: #666;
		/*padding:0 136px;*/
	}
	
	@media (max-width: 750px) {
		.introduction .thumbnail img {
			width: 50%;
		}
		.introduction .thumbnail .last {
			padding: 0px;
		}
	}
	
	.thumbnail h4,
	h3 {
		text-align: center;
		color: #666;
	}
	
	.thumbnail p {
		line-height: 25px;
	}
	
	.thumbnail:hover {
		text-decoration: none;
	}