@font-face {
	font-family: 'iconn';
	src: url('../fonts/icomoon.eot?izpax1');
	src: url('../fonts/icomoon.eot?izpax1#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?izpax1') format('truetype'), url('../fonts/icomoon.woff?izpax1') format('woff'), url('../fonts/icomoon.svg?izpax1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.navbar-header .navbar-brand h1 {
	background: url(../images/logo.png) no-repeat;
	width: 356px;
	height: 60px;
	margin-top: 0px;
	margin-left: 15px;
}

.navbar-default {
	background: #fff;
	border-bottom: 1px solid #efefef;
	margin-top: -60px;
}

.jumbotron {
	margin-top: 60px;
	background-size: cover;
}

.text-center h1 {
	font-size: 42px;
	padding: 15px 0 35px 0;
}

.tbsite-jumbotron {
	height: auto;
	margin-bottom: 50px;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #666;
	color: #FFF;
	width: 100%;
}

.tab {
	margin-top: 20px;
}

.tab h1 {
	font-size: 20px;
	color: #088ad0;
}

.tab .hd {
	overflow: hidden;
}

.tab .hd li a {
	color: #252525;
	text-decoration: none;
}

.tab .bd nav {
	display: none;
}

.tab .bd nav.wrap-dynamic {
	display: block;
}

.bd .box1 {
	margin-top: 30px;
}

.bd .promoter h1 {
	font-size: 20px;
	margin: 40px 0 10px 0;
}

.bd .promoter h1>b {
	font-family: "iconn";
	font-weight: normal;
}

.bd .sponsor-unit h1 {
	font-size: 20px;
	font-family: "iconn";
	margin: 40px 0 20px 0;
}

.agenda .title {
	margin-top: 20px;
}

.agenda .title h3 {
	padding: 10px 0 5px 20px;
}

.agenda .title h1>b {
	font-family: "iconn";
}

.tab-pane h1 {
	margin: 40px 0 5px 0;
}

.tab-pane h1>b {
	font-family: "iconn";
	font-weight: normal;
}

.meeting {
	margin-bottom: 45px;
}

.meeting h1 {
	margin: 20px 0 10px 0;
}

.meeting h1:nth-child(1) {
	margin-top: 40px;
}

.meeting h1>b {
	font-family: "iconn";
	font-weight: normal;
}

.meeting p {
	padding-left: 20px;
}

.meeting p.dic {
	padding-top: 5px;
	/*color: #55a055;*/
}

.meetiing p.second {
	padding-top: 0px;
}

.meeting p.last {
	padding-top: 0px;
}

.table-responsive .table {
	margin-top: 20px;
}

.table {
	margin-bottom: 0px;
}

.guest-unit {
	/*margin-bottom: 45px;*/
}

.guest-unit p {
	float: right;
	margin-bottom: 45px;
}

.meeting-1 {
	margin-top: 40px;
	margin-bottom: 45px;
	padding: 0 184px;
}

.meeting-1 h1 {
	font-size: 200%;
	text-align: center;
	padding-bottom: 15px;
}

.meeting-1 img {
	padding: 15px 0px 10px 0px;
}

.meeting-1 p {
	padding: 5px 0px;
}

.meeting-1 p.center-p {
	text-align: center;
}

thead>tr {
	font-size: 16px;
	font-weight: 700;
}

thead>tr>td {
	font-size: 14px;
	font-weight: 500;
	color: #666;
}

.table>thead>tr>th {
	font-size: 14px;
	color: #555;
}

.table>thead>tr>th:nth-child(2) {
	padding-left: 50px;
}

.table>thead>tr>th:nth-child(3) {
	padding-left: 50px;
}

.table>tbody>tr>td:nth-child(2) {
	padding-left: 50px;
}

.table>tbody>tr>td:nth-child(3) {
	padding-left: 50px;
}

.navbar-default .navbar-nav>li>a {
	color: #088ad0;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#088ad0;
}
.navbar-default .navbar-nav>li:hover {
	color: #088ad0;
	border-bottom: 3px solid #088ad0;
}

@media screen and (min-width:320px) and (max-width:767px) {
	.navbar-header .navbar-brand h1 {
		margin-left: 15px;
		margin-top: 6px;
		width: 66px !important;
		height: 54px !important;
		background: url(../images/logo1.png) no-repeat !important;
	}
	.banner1 {
		margin-top: 60px;
	}
	.bd {
		padding: 0 15px;
	}
	.navbar-default .navbar-nav>li>a {
		color: #666;
	}
	.navbar-default .navbar-nav>li>a:hover {
		border-bottom: 0px;
	}
	.navbar-default .navbar-nav>li:hover{
	    border-bottom: 1px solid #efefef !important;  
	}
	.navbar-default {
		margin-top: -60px;
	}
	.tbsite-jumbotron {
		margin-bottom: 0px;
	}
	.text-center h1 {
		padding: 15px 0 15px 0;
	}
	.promoter {
		padding: 0;
	}
	.sponsor-unit {
		padding: 0;
	}
	.meeting p {
		padding: 0;
	}
	.meeting-1 {
		padding: 0px;
	}
}

.detailed {
	/*margin-top: 17px;*/
}

.row-content {
	background: #fff;
}