	body {
		padding-top: 70px;
	}
	
	.navbar {
		padding: 15px 0;
		min-height: 80px;
		margin-bottom: 0;
		background: #dcdcdc;
	}
	
	.nav a {
		font-size: 16px;
		font-family: "微软雅黑";
	}
	
	.nav> li:hover .dropdown-menu {
		display: block;
	}
	
	.nav> li:nth-child(1) {
		border-bottom: 3px solid #fbb92e;
	}
	
	.nav> li:nth-child(1):hover {
		background: #fbb92e;
	}
	
	.nav> li:nth-child(2) {
		border-bottom: 3px solid #f8d52f;
	}
	
	.nav> li:nth-child(2):hover,
	.nav> li:nth-child(2):hover ul {
		background: #f8d52f;
	}
	
	.nav> li:nth-child(3) {
		border-bottom: 3px solid #b4f62f;
	}
	
	.nav> li:nth-child(3):hover,
	.nav> li:nth-child(3):hover ul {
		background: #b4f62f;
	}
	
	.nav> li:nth-child(4) {
		border-bottom: 3px solid #54f7a8;
	}
	
	.nav> li:nth-child(4):hover,
	.nav> li:nth-child(4):hover ul {
		background: #54f7a8;
	}
	
	.nav> li:nth-child(5) {
		border-bottom: 3px solid #3ff7f3;
	}
	
	.nav> li:nth-child(5):hover,
	.nav> li:nth-child(5):hover ul {
		background: #3ff7f3;
	}
	
	.nav> li:nth-child(6) {
		border-bottom: 3px solid #f650ab;
	}
	
	.nav> li:nth-child(6):hover,
	.nav> li:nth-child(6):hover ul {
		background: #f650ab;
	}
	/*footer*/
	
	.footer-left {
		margin-top: 30px;
		padding-bottom: 30px;
	}
	.footer-left p {
		font-size: 18px;
		line-height: 40px;
		font-family: "微软雅黑";
	}
	
	.footer-left a {
		font-size: 16px;
		font-family: "微软雅黑";
		color: #C0C0C0;
	}
	
	.footer-left a:hover {
		color: blue;
	}
	
	.footer-right {
		text-align: center;
		width: 150px;
		height: 150px;
	}
	
	.footer-right p {
		font-size: 14px;
		line-height: 40px;
	}
	
	.footer {
		color: #C0C0C0;
		background: #000000;
	}
	/*lsdjflsjf*/
	
	.tbsite-jumbotron {
		margin-bottom: 30px;
		height: auto;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-color: #666;
		color: #FFF;
		width: 100%;
		background-image: url(../images/banner2.jpg);
	}
	
	.nav_top h1 {
		text-align: center;
	}
	
	.nav_top p {
		text-indent: 2rem;
		line-height: 30px;
	}
	
	.tab-list p {
		display: inline-block;
	}
	
	.tab-pane p {
		font-size: 16px;
		color: #252525;
	}