	body {
		padding: 0;
		padding-top: 70px;
		margin: 0;
	}
	
	.navbar {
		/*padding: 15px 0;*/
		min-height: 80px;
		margin-bottom: 0;
		background: #dcdcdc;
	}
	
	.header {
		margin-top: 15px;
	}
	
	.nav a {
		color: #000000;
		display: block;
		line-height: 80px;
		padding: 40px 0;
		font-size: 16px;
		font-family: "微软雅黑";
	}
	
	.navbar-nav> li {
		padding: 0 19px;
	}
	
	.navbar-nav>li>a {
		padding: 30px 15px;
	}
	
	.dropdown-menu>li>a {
		display: block;
		text-align: center;
	}
	
	.nav> li:hover .dropdown-menu {
		display: block;
		background: #e7e7e7;
	}
	/*footer*/
	
	.footer-left {
		margin-top: 30px;
		padding-bottom: 30px;
	}
	
	.footer-left p {
		font-size: 18px;
		line-height: 40px;
		font-family: "微软雅黑";
	}
	
	.footer-left a {
		font-size: 16px;
		padding: 0 5px;
		font-family: "微软雅黑";
		color: #C0C0C0;
	}
	
	.footer-left a:hover {
		color: blue;
	}
	
	.footer-right {
		margin: 15px 0;
		text-align: center;
		width: 150px;
		height: 150px;
	}
	
	.footer-right p {
		font-size: 14px;
		line-height: 40px;
	}
	
	.footer {
		color: #C0C0C0;
		background: #000000;
	}
	/*lsdjflsjf*/
	
	.tbsite-jumbotron {
		margin-bottom: 30px;
		height: auto;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-color: #666;
		color: #FFF;
		width: 100%;
		background-image: url(../images/banner2.jpg);
	}
	
	.nav_top h1 {
		text-align: center;
	}
	
	.nav_top p {
		text-indent: 2rem;
		line-height: 30px;
	}
	
	.tab-list p {
		display: inline-block;
	}
	
	.tab-pane p {
		font-size: 16px;
		color: #252525;
	}
	
	.tab-content {
		padding: 20px;
	}
	
	.tab-content img {
		margin-bottom: 20px;
	}
	
	.state-list p {
		font-family: "微软雅黑";
		line-height: 30px;
		font-size: 15px;
	}
	
	.state-list h5 {
		font-weight: bold;
		font-size: 16px;
	}
	
