.table td>a {
	line-height: 30px;
	color: #000000;
	font-size: 16px;
}

.table td>span {
	padding-left: 20px;
	color: red;
	font-size: 20px;
}

.table td>p>a {
	color: #666;
	font-size: 14px;
}

.table td>p {
	line-height: 40px;
}